<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel</title>
  <link rel="stylesheet" href="../../public/assets/css/form.css" type="text/css">
</head>

<body>
  <h2>Formulário de Cadastro para Credenciamento</h2>
  <div class="menu-container">
    <ul class="menu">
      <li><a href="../views/painel.php">Página Inicial</a></li>
      <li><a href="../views/credecimento.html">Cadastro</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="form-wrapper">
      <form id="data-form" action="../controllers/cadastro_empresa.php" method="POST">
        <div class="form-row">
          <label for="status">Status:</label>
          <select id="status" name="status">
            <option value="Concluido">Concluido</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Aguardando">Aguardando</option>
          </select>
        </div>
        <div class="form-row">
          <label for="responsavel">Nome do Responsável:</label>
          <input type="text" id="responsavel" name="responsavel" required>
          <div class="error-message" id="responsavelError"></div>
        </div>
        <div class="form-row">
          <label for="loja">Nome Fantasia:</label>
          <input type="text" id="loja" name="loja" required>
          <div class="error-message" id="lojaError"></div>
        </div>
        <div class="form-row">
          <label for="cnpj">CNPJ:</label>
          <input type="text" id="cnpj" name="cnpj" placeholder="xx.xxx.xxx/xxxx-xx">
          <div class="error-message" id="cnpjError"></div>
        </div>
        <div class="form-row">
          <label for="telefone">Telefone:</label>
          <input type="text" id="telefone" name="telefone" placeholder="(xx) xxxxx-xxxx" required>
          <div class="error-message" id="telefoneError" pattern="[0-9]*" title="Digite somente números"></div>
        </div>
        <div class="form-row">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email">
        </div>
        <div class="form-row">
          <label for="local">Local:</label>
          <input type="text" id="local" name="local">
        </div>
        <div class="form-row">
          <label for="agente">Agente:</label>
          <select id="agente" name="agente" required>
            <option value="3">-</option>
            <option value="4">Iristenio Campelo</option>
            <option value="5">Rodrigo Rocha</option>
            <option value="1">Caio Lucena</option>
          </select>
          <div class="error-message" id="agenteError"></div>
        </div>
        <div class="form-row">
          <label for="licitacao">Licitação?</label>
          <select id="licitacao" name="licitacao" required>
            <option value="2">Não</option>
            <option value="1">Sim</option>
          </select>
        </div>
        <div class="form-row">
          <button class="button" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    const form = document.getElementById("data-form");

    form.addEventListener("submit", function (event) {
      // Limpar mensagens de erro
      clearErrorMessages();

      // Obter referências aos campos de entrada
      const responsavelInput = document.getElementById("responsavel");
      const lojaInput = document.getElementById("loja");
      const cnpjInput = document.getElementById("cnpj");
      const telefoneInput = document.getElementById("telefone");
      const agenteSelect = document.getElementById("agente");

      // Validar os campos
      let isValid = true;

      if (responsavelInput.value.trim() === "") {
        displayErrorMessage("responsavelError", "Por favor, informe o responsável.");
        isValid = false;
      }

      if (lojaInput.value.trim() === "") {
        displayErrorMessage("lojaError", "Por favor, informe a loja.");
        isValid = false;
      }

      if (cnpjInput.value.trim() !== "" && !isValidCNPJ(cnpjInput.value.trim())) {
        displayErrorMessage("cnpjError", "Por favor, informe um CNPJ válido (14 dígitos).");
        isValid = false;
      }

      if (telefoneInput.value.trim() !== "" && !isValidTelefone(telefoneInput.value.trim())) {
        displayErrorMessage("telefoneError", "Por favor, informe um telefone válido (11 dígitos numéricos).");
        isValid = false;
      }

      if (agenteSelect.value === "3") {
        displayErrorMessage("agenteError", "Por favor, selecione um agente.");
        isValid = false;
      }

      // Impedir o envio do formulário se os dados forem inválidos
      if (!isValid) {
        event.preventDefault();
      }
    });

    function displayErrorMessage(elementId, errorMessage) {
      const errorElement = document.getElementById(elementId);
      errorElement.textContent = errorMessage;
    }

    function clearErrorMessages() {
      const errorElements = document.getElementsByClassName("error-message");
      for (let i = 0; i < errorElements.length; i++) {
        errorElements[i].textContent = "";
      }
    }

    function isValidCNPJ(cnpj) {
      // Remover caracteres não numéricos
      cnpj = cnpj.replace(/\D/g, "");

      // Verificar se possui 14 dígitos
      if (cnpj.length !== 14) {
        return false;
      }

      // Realizar validação do CNPJ
      // ...

      return true;
    }

    function isValidTelefone(telefone) {
      // Remover caracteres não numéricos
      telefone = telefone.replace(/\D/g, "");

      // Verificar se possui 11 dígitos
      if (telefone.length !== 11) {
        return false;
      }

      // Realizar validação do telefone
      // ...

      return true;
    }
  </script>
</body>
<script src="../../public/assets/js/numero.js"></script>
<script src="../../public/assets/js/placeholder.js"></script>

</html>